<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinkydetails.waketimerforkids"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="18" />
	
	<!-- Need this in order to save the settings -->
       <uses-permission android:name="android.permission.WRITE_SETTINGS" />
       <uses-permission android:name="android.permission.WAKE_LOCK" />
       
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         android:largeHeap="true"
        android:theme="@style/AppTheme" >
       
       <!-- Service for DayDream to function -->
        <service
            android:name="com.dinkydetails.daydream.DayDreamActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        
            <activity
            android:name="com.dinkydetails.waketimerforkids.PreferenceFragment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dinkydetails.waketimerforkids.MainActivity">
        </activity>
        
        <!-- Setting up some receivers to listen for time changes -->
        <receiver android:name=".WakeUpTimeReceiver" />
        <receiver android:name=".NightTimeSoothReceiver" />
        <receiver android:name=".NapTimeReceiver" />
    </application>

</manifest>
